.layer {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-image {
  z-index: -100;
}

.title-wrap {
  text-shadow: 2px 2px 4px #000000;
}

#btnStart {
  border: 0;
  z-index: 10;
}

#btnStart:hover {
  box-shadow: 0 4px 2px -2px white;
}
