/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  color: #eee;
}

.app {
  background-image: url('img/trainDesktop.jpeg');
  background-position: center;
}

/* tutti i blocchi in basso a 
destra devono lasciare margine a dx per testi */
.pos-abs.left42.top50 {
  padding-right: 4vw;
}

.layer {
  background-color: rgba(0, 0, 0, 0.3);
}
/* stili bottoni e animazione quello in alto sx  all'inizio*/
.btn {
  border: 1px solid #fff;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.title-wrap,
#btnStart {
  border: 0;
  transition: box-shadow 0.2s;
}

#btnStart:hover {
  box-shadow: 0 4px 2px -2px white;
}

.trip:hover .underline,
.date:hover .underline,
.btnStart.pos-abs:hover .underline {
  background-color: rgba(255, 255, 255, 0.4);
}
/* stili bottoni finali */
#redo,
#pay {
  transition: background-color 0.3s;
  border: 1px solid #fff;
}
#redo:hover,
#pay:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* blocco scelta tratta tipo menu mobile con layer scuro */
ul.sceltaTratta {
  background-color: rgba(0, 0, 0, 0.3);
}
/* eliminazione delle freccette incrementa 
  e decrementa su input di tipo number 
   Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::placeholder {
  color: rgba(255, 255, 255, 0.37);
}
/* sottolineature date e animazione checkmark */
li:hover .under {
  background-color: rgba(255, 255, 255, 0.4);
}
/* crescita lieve checkmark 
  quando hover su scelta date */
#possibiliDate li i {
  transition: transform 0.3s;
}
#possibiliDate li:hover i {
  transform: scale(1.2);
}

/* ANIMAZIONI RIUTILIZZATE E NON */
/* animazione botttone in alto a sx */
.btnStart.pos-abs {
  animation: tremble 2s infinite;
}

@keyframes tremble {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  55% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.02);
  }
  65% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/* animazioni ricorrenti e non 
per entrata blocchi di testo */
.fade-in {
  animation: fade-in 0.8s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.3s forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-in {
  animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
  0% {
    left: -30%;
  }
  100% {
    left: 0;
  }
}

.slide-to-middle {
  animation: slide-to-middle 0.3s forwards;
}

@keyframes slide-to-middle {
  0% {
    left: -200%;
  }
  100% {
    left: 42;
  }
}
.slide-to-center {
  animation: slide-to-center 0.3s forwards;
}
@keyframes slide-to-center {
  0% {
    left: -200%;
  }
  100% {
    left: 50;
  }
}

/* crecita quando si va in hover
 pulsanti finali  */
.fa-cc-paypal,
.fa-redo {
  transition: transform 0.3s;
}
#pay:hover .fa-cc-paypal,
#redo:hover .fa-redo {
  transform: scale(1.09);
}

/* MEDIA QUEIES */

@media screen and (max-width: 750px) {
  .pos-abs.left42.top50 h2,
  p,
  ul li,
  .pos-abs.left42.top50 label {
    font-size: 1.7rem;
  }
  .sceltaTratta.no-list-style li .cursor-pointer,
  ul li.font-w600 {
    font-size: 1.3rem;
    margin-left: 10%;
  }

  .btnStart,
  .pos-abs.left42.top50 a,
  .cursor-pointer.date.inline-b,
  p.font-w600.uppercase,
  ul li i,
  #countDownElement,
  #play,
  #play i,
  #redo,
  #redo i,
  ul li span {
    font-size: 1.3rem;
  }
  .pos-abs.left42.top50 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  .sceltaTratta.title-wrap {
    margin-left: 12.5vw;
  }
  .app {
    background-image: url('img/trainMobile.jpeg');
  }
}
@media screen and (max-width: 607px) {
  .pos-abs.left42.top50 h2,
  p,
  ul li,
  .pos-abs.left42.top50 label {
    font-size: 1.3rem;
  }
  .sceltaTratta.no-list-style li .cursor-pointer,
  ul li.font-w600 {
    font-size: 1rem;
    margin-left: 5%;
  }

  .btnStart,
  .pos-abs.left42.top50 a,
  p.font-w600.uppercase,
  ul li i,
  #countDownElement,
  #play,
  #play i,
  #redo,
  #redo i,
  ul li span {
    font-size: 1rem;
  }
  .cursor-pointer.date.inline-b {
    font-size: 1rem;
  }
  /* il div che contiene il contatore
  con il numero di ne bambini ne anziani */
  .flex.space-around.mt-15 {
    display: block;
  }
  #btnImpostatiPassegMedi {
    margin-top: 40px;
  }
}
@media screen and (max-width: 440px) {
  .pos-abs.left42.top50 h2,
  p,
  ul li,
  .pos-abs.left42.top50 label {
    font-size: 1rem;
  }
  .sceltaTratta.no-list-style li .cursor-pointer,
  ul li.font-w600 {
    font-size: 0.7rem;
    margin-left: 5%;
  }
  .btnStart,
  .pos-abs.left42.top50 a,
  .cursor-pointer.date.inline-b,
  p.font-w600.uppercase,
  ul li i,
  #countDownElement,
  #play,
  #play i,
  #redo,
  #redo i,
  ul li span {
    font-size: 0.7rem;
  }
  #redo,
  #play {
    width: 110px;
    height: 80px;
  }
}
